In [32]:
import os
import pandas as pd
import numpy as np
import glob

In [33]:
os.chdir('C:/Users/zph11/OneDrive - Washington University in St. Louis/WashU/Courses/S3/Capstone/data/tracab/extracted/velocity/joined_data')

In [34]:
all_df = glob.glob('*.csv')

info = pd.read_excel('STL_players.xlsx')

name_data = []

joined = [file for file in all_df if 'joined' in file]

In [35]:
for file in joined:
    df = pd.read_csv(file)
    name = pd.merge(df, info, left_on = 'toucher', right_on = 'id')
    name = name[['FrameCount', 'Second', 'id', 'name', 'position', 
            '176', '177', '178', '179', '180', '181', 'successful']]
    name_data.append(name)

In [36]:
name_data

[    FrameCount  Second    id                 name position   176   177  178  \
 0      2128142     196   280          John Nelson       LB  3273 -3046   14
 1      2246947    4136   280          John Nelson       LB  3951  3313   14
 2      2247602    4158   280          John Nelson       LB  3414  1736   15
 3      2291939    5635   280          John Nelson       LB  3943   324   25
 4      2306346    6116   280          John Nelson       LB  1092  3250    9
 5      2142425     672  1982            J. Klauss       ST   845  2620   37
 6      2312822    6332  1982            J. Klauss       ST  5324   500   21
 7      2148123     862    59            J. Stroud       AM -1806 -3454    0
 8      2170710    1614  1950         Njabulo Blom       DM  1033  3226   15
 9      2294254    5713  1950         Njabulo Blom       DM  1329 -2593   10
 10     2174152    1729  1766         Kyle Hiebert       LB  3108 -2597   74
 11     2174912    1755  1999         Tomas Ostrak       AM -2323  2528   10
 12     2260508    4588  1999         Tomas Ostrak       AM  2670 -1281    9
 13     2187727    2182  1943           Rasmus Alm       AM   119  3020    8
 14     2264372    4717  1943           Rasmus Alm       AM  1017 -1291   64
 15     2258333    4515  1987         Eduard Lowen       DM  1476  -787   19
 16     2258343    4516  1987         Eduard Lowen       DM  1344  -806    9
 17     2306072    6107  1987         Eduard Lowen       DM  3440  2884   14
 18     2309646    6226  1987         Eduard Lowen       DM   988  2151   14
 19     2305930    6102  1713         Miguel Perez       DM  2921  2135    8
 20     2317236    6479  1946         Celio Pompeu       AM   764   846   10
 21     2324921    6735  1946         Celio Pompeu       AM -1185  3466   13
 22     2326562    6790  1946         Celio Pompeu       AM  3885  2297   14
 23     2322438    6652   653  Nicholas Gioacchini       ST  1540 -3146    9
 24     2322742    6662   895       Jake Nerwinski       RB  5059 -3238    5

        179 180    181  successful
 0    42.08   A  Alive         1.0
 1    26.23   A  Alive         1.0
 2    47.01   H  Alive         1.0
 3   102.02   A  Alive         1.0
 4    72.17   A  Alive         1.0
 5    20.77   H  Alive         0.0
 6    26.30   A   Dead         1.0
 7    10.40   A   Dead         0.0
 8    50.12   A  Alive         1.0
 9    19.05   A  Alive         1.0
 10   84.61   A  Alive         1.0
 11   39.33   A  Alive         1.0
 12   12.35   A  Alive         1.0
 13   27.20   A  Alive         0.0
 14   27.77   H  Alive         0.0
 15   24.37   A  Alive         1.0
 16   17.79   H  Alive         0.0
 17   17.74   H  Alive         0.0
 18   43.88   A  Alive         1.0
 19   43.56   A  Alive         0.0
 20   28.26   A  Alive         1.0
 21    0.31   H   Dead         0.0
 22   30.27   A  Alive         1.0
 23   38.09   A  Alive         1.0
 24   23.60   A  Alive         1.0  ,
     FrameCount  Second    id                 name position   176   177  178  \
 0      1317725     225  1987         Eduard Lowen       DM -3117   950    0
 1      1321042     335  1987         Eduard Lowen       DM -2545   762   74
 2      1329090     604  1987         Eduard Lowen       DM  -853    65    5
 3      1429581    3946  1987         Eduard Lowen       DM -1392 -2062    2
 4      1483121    5731  1987         Eduard Lowen       DM  1979  1867    5
 5      1328151     572   895       Jake Nerwinski       RB -1529  2783   15
 6      1330464     650   653  Nicholas Gioacchini       ST  -277 -1191    2
 7      1502921    6391   653  Nicholas Gioacchini       ST  3417  3218   88
 8      1503151    6399   653  Nicholas Gioacchini       ST  2570  3126   21
 9      1332263     710  1946         Celio Pompeu       AM -4463 -3019   14
 10     1354697    1457  1946         Celio Pompeu       AM  1336 -2287    8
 11     1392600    2721  1946         Celio Pompeu       AM -4281   701  149
 12     1439513    4278  1946         Celio Pompeu       AM  4355  2120    9
 13     1493341    6072  1946         Celio Pompeu       AM -1445  3416   30
 14     1349401    1281   385    Indiana Vassilev        DM -2872 -1451    2
 15     1378493    2251   385    Indiana Vassilev        DM -4903  2830   18
 16     1444613    4448   385    Indiana Vassilev        DM  4200 -1757    6
 17     1352466    1383  1713         Miguel Perez       DM -1532  -741    8
 18     1372253    2043  1713         Miguel Perez       DM  -818   414   51
 19     1353815    1428  1999         Tomas Ostrak       AM -3096  2914   94
 20     1429853    3956  1950         Njabulo Blom       DM -2304 -1382    1
 21     1445424    4475   280          John Nelson       LB  2951  2420   16
 22     1469515    5278   280          John Nelson       LB  4726  2543   11
 23     1489707    5951  1980          Isak Jensen       AM  2451  2291   11
 24     1489743    5952  1980          Isak Jensen       AM  2374  1729    7
 25     1511123    6665  1980          Isak Jensen       AM  -360  1432    5

        179 180    181  successful
 0    13.60   A  Alive         0.0
 1   112.75   A  Alive         1.0
 2    13.45   H  Alive         0.0
 3    35.05   A  Alive         0.0
 4    13.81   H  Alive         0.0
 5    41.26   H  Alive         0.0
 6    13.10   A  Alive         1.0
 7    41.24   A   Dead         0.0
 8    11.13   A   Dead         1.0
 9    34.13   A  Alive         0.0
 10   49.53   A  Alive         1.0
 11   21.59   A   Dead         1.0
 12   17.70   A  Alive         1.0
 13   71.36   A   Dead         0.0
 14   73.99   A  Alive         1.0
 15   16.14   H  Alive         0.0
 16   21.22   A  Alive         0.0
 17   16.35   A  Alive         1.0
 18   24.72   A  Alive         1.0
 19   54.69   A  Alive         1.0
 20   23.86   A  Alive         1.0
 21   16.95   A  Alive         1.0
 22   32.06   H  Alive         1.0
 23   22.67   A  Alive         1.0
 24   21.65   H  Alive         1.0
 25    9.29   A   Dead         1.0  ,
    FrameCount  Second    id                 name position   176   177  178  \
 0     2177527    1847  1987         Eduard Lowen       DM  4577  2799   14
 1     2267496    4842  1987         Eduard Lowen       DM -3776 -2285   17
 2     2280205    5266  1987         Eduard Lowen       DM  -387  1431   23
 3     2247580    4179   895       Jake Nerwinski       RB  1638  2468   13
 4     2265030    4760  1946         Celio Pompeu       AM -4060 -1096   16
 5     2287523    5510  1946         Celio Pompeu       AM   593   463   13
 6     2294741    5751  1946         Celio Pompeu       AM -1558  3227   17
 7     2275966    5125   653  Nicholas Gioacchini       ST -4212  2427  138
 8     2280476    5275   653  Nicholas Gioacchini       ST -3963  -242  192
 9     2325997    6793  1999         Tomas Ostrak       AM   608  3506   15

       179 180    181  successful
 0   18.48   H  Alive         0.0
 1   28.89   A  Alive         1.0
 2   36.93   A  Alive         1.0
 3   33.39   A  Alive         1.0
 4   27.39   A  Alive         1.0
 5   79.02   A  Alive         0.0
 6   23.68   H  Alive         0.0
 7   25.04   A  Alive         1.0
 8  103.09   H  Alive         1.0
 9   30.75   A   Dead         0.0  ,
     FrameCount  Second    id                 name position   176   177  178  \
 0      2146690     883   895       Jake Nerwinski       RB  -659 -2834   11
 1      2183076    2096   895       Jake Nerwinski       RB  -201 -1360   30
 2      2310605    6347   895       Jake Nerwinski       RB -2380 -1788   13
 3      2155021    1161   280          John Nelson       LB -2599  1859   14
 4      2168251    1602  1946         Celio Pompeu       AM  2659 -3471   37
 5      2203280    2769  1946         Celio Pompeu       AM  4716 -1411   25
 6      2276581    5213  1946         Celio Pompeu       AM -5632  1563   11
 7      2208763    2952  1987         Eduard Lowen       DM  3265  3280   92
 8      2253541    4445  1987         Eduard Lowen       DM -3034 -2195   61
 9      2253671    4449  1987         Eduard Lowen       DM -5198 -3107   11
 10     2307691    6250  1987         Eduard Lowen       DM -5675 -1522   11
 11     2246819    4220  1999         Tomas Ostrak       AM -3286  3203   11
 12     2295902    5857  1999         Tomas Ostrak       AM  1095  -115   23
 13     2324284    6803  1999         Tomas Ostrak       AM -5062  2352   13
 14     2266052    4862   385    Indiana Vassilev        DM -5498 -2859   13
 15     2310701    6350   653  Nicholas Gioacchini       ST -2002 -1763   14

       179 180    181  successful
 0   80.03   A  Alive         1.0
 1   45.02   H  Alive         0.0
 2    9.17   H   Dead         1.0
 3   14.01   H  Alive         1.0
 4   11.78   A   Dead         0.0
 5   75.27   H  Alive         1.0
 6    0.00   H   Dead         1.0
 7    0.18   A   Dead         1.0
 8   32.01   H  Alive         1.0
 9   17.57   H  Alive         0.0
 10   0.00   A   Dead         1.0
 11  14.43   A  Alive         1.0
 12  68.85   H  Alive         0.0
 13   0.63   H   Dead         1.0
 14   5.44   A   Dead         0.0
 15   7.76   H   Dead         0.0  ,
     FrameCount  Second    id               name position   176   177  178  \
 0      2124907     159  1999       Tomas Ostrak       AM -1276  1999   17
 1      2130130     334  1999       Tomas Ostrak       AM -3457 -2092   14
 2      2145149     834  1999       Tomas Ostrak       AM -5491 -1437   15
 3      2247040    4225  1999       Tomas Ostrak       AM  4863 -2698   18
 4      2276291    5200  1999       Tomas Ostrak       AM  3734 -2846   18
 5      2136820     557  1946       Celio Pompeu       AM -1896 -2055   85
 6      2155631    1184  1946       Celio Pompeu       AM -2554  1250    9
 7      2159140    1301  1946       Celio Pompeu       AM -3526 -3429    7
 8      2167112    1566  1946       Celio Pompeu       AM -4044 -3357   16
 9      2231940    3721  1946       Celio Pompeu       AM  3431  1634   17
 10     2236683    3879  1946       Celio Pompeu       AM  3170  2690   10
 11     2182219    2070  1943         Rasmus Alm       AM -4518   -85   16
 12     2241662    4045   385  Indiana Vassilev        DM   821  -838   14
 13     2241662    4045   385  Indiana Vassilev        DM   821  -838   14
 14     2265720    4847   385  Indiana Vassilev        DM -2138  -562   53
 15     2244766    4149  1950       Njabulo Blom       DM  3117 -3280   59
 16     2244864    4152  1950       Njabulo Blom       DM  3764 -3181   14
 17     2256136    4528  1950       Njabulo Blom       DM  -282  2737   11
 18     2252641    4411    59          J. Stroud       AM  4582  2268   45
 19     2294860    5819   895     Jake Nerwinski       RB  1860 -3167   12
 20     2309320    6301  1002    Samuel Adeniran       ST  4629 -1777   13
 21     2314596    6476  1987       Eduard Lowen       DM  2889  3029   17

        179 180    181  successful
 0    21.83   H  Alive         0.0
 1    18.50   H  Alive         1.0
 2    14.88   H  Alive         1.0
 3    27.78   H  Alive         1.0
 4    17.57   H  Alive         1.0
 5    66.07   H  Alive         0.0
 6    13.00   H  Alive         1.0
 7    15.59   H  Alive         0.0
 8    30.74   H  Alive         0.0
 9    24.40   H  Alive         1.0
 10   28.94   H  Alive         0.0
 11    1.27   H  Alive         1.0
 12   39.00   H  Alive         1.0
 13   39.00   H  Alive         0.0
 14   80.68   H  Alive         0.0
 15   46.67   H  Alive         1.0
 16  156.98   H  Alive         1.0
 17   22.86   H  Alive         1.0
 18   55.88   H  Alive         0.0
 19   20.86   H  Alive         0.0
 20   18.39   H  Alive         1.0
 21   37.69   H  Alive         0.0  ,
     FrameCount  Second    id                 name position   176   177  178  \
 0      2128400     270   385    Indiana Vassilev        DM  3500 -3126   12
 1      2163617    1444   385    Indiana Vassilev        DM  3020 -1789   11
 2      2262181    4725   385    Indiana Vassilev        DM  -277  2876   16
 3      2148292     933   313       Lucas Bartlett       CB  1170  1687   17
 4      2320214    6660   313       Lucas Bartlett       CB  -874 -3523    6
 5      2151801    1050  1943           Rasmus Alm       AM  1047  1024   46
 6      2248726    4277  1713         Miguel Perez       DM -1539 -3152   11
 7      2262923    4750   653  Nicholas Gioacchini       ST  -891 -2959   22
 8      2315083    6488   653  Nicholas Gioacchini       ST  1132  1921   12
 9      2267112    4889  1999         Tomas Ostrak       AM   325  2259   11
 10     2267161    4891  1999         Tomas Ostrak       AM  -186  3025   14
 11     2319581    6638  1946         Celio Pompeu       AM  -577  1159   16

       179 180    181  successful
 0   48.75   H  Alive         1.0
 1   34.57   H  Alive         0.0
 2   28.84   H  Alive         0.0
 3   64.22   H  Alive         1.0
 4    0.00   H  Alive         0.0
 5   29.17   H  Alive         1.0
 6   41.10   H  Alive         1.0
 7   44.66   H  Alive         1.0
 8   39.77   H  Alive         0.0
 9   29.73   H  Alive         1.0
 10  58.32   H  Alive         1.0
 11  61.76   H  Alive         0.0  ,
     FrameCount  Second    id                 name position   176   177  178  \
 0      2121082      17  1943           Rasmus Alm       AM  -602  2615   56
 1      2128824     276  1987         Eduard Lowen       DM -1673 -3006   28
 2      2163317    1425  1987         Eduard Lowen       DM -2375 -1625   30
 3      2187273    2224  1987         Eduard Lowen       DM   -59   556   15
 4      2187293    2225  1987         Eduard Lowen       DM  -222   -26   14
 5      2187324    2226  1987         Eduard Lowen       DM  -390  -645   11
 6      2188763    2274  1987         Eduard Lowen       DM -3066  -127   14
 7      2244367    4119  1987         Eduard Lowen       DM -3137  2378   15
 8      2143886     778   385    Indiana Vassilev        DM -3045  1726   12
 9      2199143    2620   385    Indiana Vassilev        DM -2618  2790   17
 10     2146770     874  1713         Miguel Perez       DM  1266 -1882   81
 11     2273661    5095  1713         Miguel Perez       DM    75  -652   15
 12     2151085    1018   895       Jake Nerwinski       RB -2864  2558   42
 13     2175408    1828   895       Jake Nerwinski       RB -1874  3000   18
 14     2273033    5075   895       Jake Nerwinski       RB  4614 -2885   14
 15     2163138    1419  1982            J. Klauss       ST  -881 -1606   18
 16     2284472    5456  1982            J. Klauss       ST  1770  -547  165
 17     2284516    5457  1982            J. Klauss       ST   577 -1385  237
 18     2165396    1495    59            J. Stroud       AM  -207 -1247   13
 19     2170410    1662    59            J. Stroud       AM -3761 -2120   17
 20     2290380    5653   653  Nicholas Gioacchini       ST  2766 -2764   12
 21     2314703    6464  1946         Celio Pompeu       AM  4506  2138  153
 22     2326103    6844  1999         Tomas Ostrak       AM   969 -3290  106
 23     2328443    6922  1999         Tomas Ostrak       AM  4478 -3558   14

       179 180    181  successful
 0   30.87   H  Alive         1.0
 1    6.83   A  Alive         0.0
 2   45.43   A  Alive         1.0
 3   43.94   A  Alive         1.0
 4   33.99   A  Alive         1.0
 5   19.27   A   Dead         1.0
 6   54.81   A  Alive         1.0
 7   15.91   H  Alive         0.0
 8   13.36   A  Alive         1.0
 9   50.22   A  Alive         1.0
 10  40.00   A  Alive         1.0
 11  67.00   A  Alive         1.0
 12  35.76   A  Alive         1.0
 13  33.91   A  Alive         1.0
 14  19.19   A  Alive         1.0
 15  47.84   A  Alive         1.0
 16  83.72   H  Alive         1.0
 17  39.36   H  Alive         0.0
 18  31.05   A  Alive         1.0
 19  39.30   A  Alive         1.0
 20  15.58   A   Dead         1.0
 21  78.05   A  Alive         1.0
 22  50.94   H  Alive         1.0
 23   6.64   A   Dead         0.0  ,
     FrameCount  Second    id                 name position   176   177  178  \
 0      2124648     136  1987         Eduard Lowen       DM   901 -2546   12
 1      2201438    2695  1987         Eduard Lowen       DM  2827 -2860    3
 2      2247595    4218  1987         Eduard Lowen       DM  3789  2233   14
 3      2276927    5196  1987         Eduard Lowen       DM  3894  1177    8
 4      2132715     404    59            J. Stroud       AM  1630   673    9
 5      2141796     707    59            J. Stroud       AM  3390 -3548  182
 6      2177957    1913    59            J. Stroud       AM   720  2576    9
 7      2135477     497   341           Tim Parker       CB  -993 -3148   13
 8      2148338     925  1999         Tomas Ostrak       AM   792 -1943   20
 9      2148388     927  1999         Tomas Ostrak       AM   536 -1151   51
 10     2160223    1321  1999         Tomas Ostrak       AM  1333  3343   12
 11     2160287    1324  1999         Tomas Ostrak       AM   397  3719   13
 12     2193000    2414  1999         Tomas Ostrak       AM -3800 -1761   12
 13     2195867    2510  1999         Tomas Ostrak       AM -1688  3463   12
 14     2240992    3998  1999         Tomas Ostrak       AM  3216  -714   11
 15     2243958    4097  1999         Tomas Ostrak       AM  4217 -2613   10
 16     2153420    1095  1982            J. Klauss       ST -3517   181   14
 17     2170009    1648  1982            J. Klauss       ST -2334   538   13
 18     2295826    5825  1982            J. Klauss       ST  3073  -255   14
 19     2153620    1101   653  Nicholas Gioacchini       ST -3553   625   13
 20     2299730    5956   653  Nicholas Gioacchini       ST  -954 -3117  192
 21     2155802    1174   385    Indiana Vassilev        DM  2478  2053   11
 22     2238568    3917   280          John Nelson       LB  -899  1015   10
 23     2266318    4842  1943           Rasmus Alm       AM  3553 -2616   99
 24     2266457    4847  1943           Rasmus Alm       AM  5422 -1744   12
 25     2284914    5462  1943           Rasmus Alm       AM  4102 -1975   16
 26     2310438    6313  1943           Rasmus Alm       AM   422 -2048   10
 27     2306477    6181  1950         Njabulo Blom       DM  -923  -668   11

       179 180    181  successful
 0   27.84   A  Alive         0.0
 1   24.30   A   Dead         0.0
 2   40.81   A  Alive         1.0
 3   47.62   H  Alive         1.0
 4   41.09   A  Alive         1.0
 5   13.85   A   Dead         0.0
 6   41.82   A  Alive         0.0
 7   19.57   A  Alive         1.0
 8   28.27   A  Alive         1.0
 9   79.18   A  Alive         1.0
 10  34.70   A  Alive         1.0
 11   4.94   H   Dead         0.0
 12  14.28   H  Alive         1.0
 13  21.70   A  Alive         1.0
 14  36.28   A  Alive         1.0
 15   8.41   A  Alive         1.0
 16  19.78   A  Alive         1.0
 17  17.73   H  Alive         0.0
 18  75.10   H  Alive         1.0
 19  52.07   H  Alive         1.0
 20  53.99   A  Alive         1.0
 21  36.24   A  Alive         1.0
 22  53.68   H  Alive         1.0
 23  37.65   A  Alive         1.0
 24  19.20   A  Alive         1.0
 25  61.72   H  Alive         0.0
 26   3.91   A   Dead         1.0
 27  17.89   A  Alive         1.0  ,
     FrameCount  Second    id                 name position   176   177  178  \
 0      2124306      79  1987         Eduard Lowen       DM -2112  3222   14
 1      2153757    1061  1987         Eduard Lowen       DM  2909 -3043    6
 2      2153830    1063  1987         Eduard Lowen       DM  3440 -3011    5
 3      2158916    1232  1987         Eduard Lowen       DM  3205  -928   18
 4      2181987    2002  1987         Eduard Lowen       DM -2009  -356   22
 5      2191924    2333  1987         Eduard Lowen       DM   317 -2877    7
 6      2201682    2658  1987         Eduard Lowen       DM  1861  2783   56
 7      2240307    3929  1987         Eduard Lowen       DM -1278  2484   73
 8      2251789    4311  1987         Eduard Lowen       DM   541   392   17
 9      2124893      98   895       Jake Nerwinski       RB  3181 -2906   18
 10     2307873    6181   895       Jake Nerwinski       RB -2307  2275    6

In [37]:
output = 'with_name/'

os.makedirs(output, exist_ok=True)

for name_df, path in zip (name_data, joined):
    new_name = os.path.basename(path).replace('joined.csv', 'name.csv')
    new_path = os.path.join(output, new_name)
    name_df.to_csv(new_path, index = False)

In [38]:
combined = pd.concat(name_data, ignore_index = True)
combined

In [65]:
df = pd.read_csv('all.csv')
df

,FrameCount,Second,id,name,position,176,177,178,179,180,181,successful
0,2128142,196,280,John Nelson,LB,3273,-3046,14,42.08,A,Alive,1.0
1,2246947,4136,280,John Nelson,LB,3951,3313,14,26.23,A,Alive,1.0
2,2247602,4158,280,John Nelson,LB,3414,1736,15,47.01,H,Alive,1.0
3,2291939,5635,280,John Nelson,LB,3943,324,25,102.02,A,Alive,1.0
4,2306346,6116,280,John Nelson,LB,1092,3250,9,72.17,A,Alive,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
462,2284179,5461,59,J. Stroud,AM,-3534,-3101,14,21.24,H,Alive,1.0
463,2284269,5464,59,J. Stroud,AM,-4730,-2632,15,10.53,H,Alive,0.0
464,2288452,5603,1950,Njabulo Blom,DM,794,-861,14,28.72,H,Alive,1.0
465,2325393,6834,1950,Njabulo Blom,DM,-418,722,44,26.83,H,Alive,1.0
466,2309955,6320,1946,Celio Pompeu,AM,-4843,-796,86,105.19,H,Alive,1.0

In [60]:
player = df[['id', 'name', 'position', 'successful']]
player

       id          name position  successful
0     280   John Nelson       LB         1.0
1     280   John Nelson       LB         1.0
2     280   John Nelson       LB         1.0
3     280   John Nelson       LB         1.0
4     280   John Nelson       LB         1.0
..    ...           ...      ...         ...
462    59     J. Stroud       AM         1.0
463    59     J. Stroud       AM         0.0
464  1950  Njabulo Blom       DM         1.0
465  1950  Njabulo Blom       DM         1.0
466  1946  Celio Pompeu       AM         1.0

[467 rows x 4 columns]

In [62]:
player = player.groupby(['name', 'position']).agg(
    total_take_ons=pd.NamedAgg(column = 'successful', aggfunc = 'count'),
    success_rate=pd.NamedAgg(column = 'successful', aggfunc = 'mean')
    ).reset_index()

In [63]:
player

                   name position  total_take_ons  success_rate
0            Akil Watts       RB               4      0.750000
1         Aziel Jackson       AM              24      0.708333
2          Celio Pompeu       AM              56      0.678571
3          Eduard Lowen       DM              73      0.643836
4     Indiana Vassilev        DM              45      0.488889
5           Isak Jensen       AM               7      0.714286
6             J. Klauss       ST              20      0.600000
7             J. Stroud       AM              21      0.380952
8        Jake Nerwinski       RB              26      0.692308
9           John Nelson       LB              16      0.750000
10          Joshua Yaro       CB               1      1.000000
11         Kyle Hiebert       LB               4      0.500000
12       Lucas Bartlett       CB               6      0.333333
13         Miguel Perez       DM               8      0.625000
14  Nicholas Gioacchini       ST              38      0.631579
15         Njabulo Blom       DM              28      0.857143
16           Rasmus Alm       AM              21      0.571429
17          Roman Burki       GK               1      1.000000
18      Samuel Adeniran       ST              16      0.625000
19           Tim Parker       CB               5      0.800000
20         Tomas Ostrak       AM              47      0.723404

In [64]:
player.to_csv('player.csv', index = False)

In [69]:
position = df.groupby('position').agg(
total_take_ons = ('successful', 'sum'),
success_rate = ('successful', 'mean')).reset_index()

In [70]:
position

  position  total_take_ons  success_rate
0       AM           114.0      0.647727
1       CB             7.0      0.583333
2       DM            98.0      0.636364
3       GK             1.0      1.000000
4       LB            14.0      0.700000
5       RB            21.0      0.700000
6       ST            46.0      0.621622